
.nav {
    width: 100vw;
    height: 4rem;
    background: transparent;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--color-gray-200);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    animation: SlideIn 3s ease-in-out;
}


@keyframes SlideIn {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

.navContainer {
    display: flex;
    place-items: center;
    justify-content: space-between;
    position: relative;
}

.navLogo {
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--color-primary)
}

.navItems {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.navItems a.active {
    color: var(--color-primary);
}

.navBtns {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.navBtns button {
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--color-gray-900);
    background: transparent;
}

.navBtn {
    display: none;
}


/* MEDIA QUERIES (SMALL SCREENS) */
@media screen and (max-width: 600px) {
    .navItems {
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 3rem;
        right: 0;
        perspective: 130px;
    }

    .navItems li {
        box-shadow: -2rem 4rem 3rem rgba(0, 0 , 0, 0.2);
        width: 100%;
        animation: identifier 200ms ease forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }

    .navItems li:nth-child(2) {
        animation-delay: 100ms;
    }

    
    .navItems li:nth-child(3) {
        animation-delay: 200ms;
    }

    .navItems li:nth-child(4) {
        animation-delay: 300ms;
    }

    .navItems li:nth-child(5) {
        animation-delay: 400ms;
    }



    .navItems a {
    padding:  1.3rem 4.5rem;
    display: block;
    background: var(--color-gray-0);
    }

    .navItems a:hover {
           background: var(--color-gray-200);
    }
    
    .navBtn {
        display: inline-block;
        padding-right: 2rem;
    }

    @keyframes identifier {
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }
}
