.section {
    padding-top: 7rem;
}


.contactWrapper {
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    display: flex;
    justify-content: center;
    gap: 4rem;
        flex-direction: column;
    width: 25%;
}
