.section {
  padding-top: 7rem;
}

.contactWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.inputWrapper {
  display: flex;

  gap: 2rem;
  flex-direction: column;
  width: 45%;
}

.inputs {
  padding: 1rem;
}

.inputs {
  resize: none;
}

.sendBtn {
  padding: 0.5rem;
  background-color: var(--color-primary);
  cursor: pointer;
}

.rightSide {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.tagline {
  font-size: 1.6rem;
  color: var(--color-secondary);
}
