.section {
    padding-top: 7rem;
}


.contactWrapper {
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
        flex-direction: column;
    width: 45%;
}

.inputs {
    padding: 1rem;
    margin-top: 2rem;
}

.inputs {
    resize: none;
}

.sendBtn {
    padding: .5rem;
    background-color: var(--color-primary);
    cursor: pointer;
}